<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}

    <h2>Add Job</h2>

    <form method="POST" action="/add_job">
        Title: <input name="title"><br><br>
        Skills (comma separated): <input name="skills"><br><br>
        Description:<br>
        <textarea name="desc"></textarea><br><br>

        <button type="submit">Add Job</button>
    </form>

    {% endblock %}
</body>

</html>