<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}


    <h1>AI Interview Platform</h1>
    <hr>
    <form method="POST" action="/submit_test">

        {% for q in questions %}
        <p>{{ q[1] }}</p>

        <input type="radio" name="{{ q[0] }}" value="{{ q[2] }}"> {{ q[2] }}<br>
        <input type="radio" name="{{ q[0] }}" value="{{ q[3] }}"> {{ q[3] }}<br>
        <input type="radio" name="{{ q[0] }}" value="{{ q[4] }}"> {{ q[4] }}<br>
        <input type="radio" name="{{ q[0] }}" value="{{ q[5] }}"> {{ q[5] }}<br><br>

        {% endfor %}

        <button type="submit">Submit Test</button>

    </form>

    {% endblock %}
</body>

</html>